html {
    background-color: black;
    text-align: center;
}

header {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

#app_link {
    color: aquamarine;
    font-size: 16px;
}

section.header {
    font-family: Veranda;
    font-weight: 300;
    font-size: 42px;
}

article {
    font-family: Verdana;
    font-size: 21px;
    color:gray;
}

footer {
    text-align: right;
    color:gray
}
